{{ if .Site.Params.specialsTitle }}
  <section id="specials" class="section section-wood">
    <div class="container">
      <div class="chalkboard">
        <span class="chalkboard-lights" aria-hidden="true"></span>

        <span class="chalk-kicker">{{ default "Monday Night" .Site.Params.specialsKicker }}</span>
        <h2 class="chalk-title">{{ default "Monday Night Wings" .Site.Params.specialsTitle }}</h2>

        <div class="chalk-body">
          <div class="chalk-price-block">
            <span class="chalk-price">{{ default "$1.50" .Site.Params.specialsPrice }}</span>
            <span class="chalk-price-flourish" aria-hidden="true"></span>
            <span class="chalk-price-unit">{{ default "each" .Site.Params.specialsPriceUnit }}</span>
          </div>

          <div>
            {{ with .Site.Params.specialsLead }}
              <p class="chalk-lead">{{ . }}</p>
            {{ end }}
            {{ with .Site.Params.specialsDetails }}
              <ul class="chalk-list">
                {{ range . }}
                  <li>{{ . }}</li>
                {{ end }}
              </ul>
            {{ end }}

            <p class="chalk-actions">
              <a class="btn btn-primary"
                 href="tel:{{ replaceRE "[^0-9+]" "" (default "412-824-8884" .Site.Params.phone) }}">
                Call to Order
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
